body{
    background-color: darkgray;
    color: #fff;
}
.container{
    text-align: center;
    font-size: 2em;
}
.container h1{
    background-color: rgba(50, 50, 50, 0.5);
}

























