body{
    background-color: olive;
    color: #fff;
}
.center{
    text-align: center;
    font-size: 2em;
}
.center button{
    padding: 10px 30px;
    font-size: 15px;
    background-color: #f63;
}


























